.badge {
    font-size: 12px;
    padding: 10px 12px;
    min-width: 68px !important;
}
.d-flex {
    flex-wrap: wrap;
    gap: 16px;
}
.bg-green {
    background-color: #a6c88f;
}
.bg-blue {
    background-color: #2f6896;
}