.d-flex {
    flex-wrap: wrap;
    gap: 16px;
}
.box {
    font-size: 12px;
    padding: 10px 12px;
    min-width: 68px !important;
    border-radius: 5px;
}
.bg-gray {
    background-color: #d7d9dd;
}
.fz {
    font-size: 15px;
}